extends layout

block content
	h1 Albums
	h5 Click (Album For More Details)
	br
	a(href='/addAlbum') Add Album
	<br>
	table.table
		thead
			th.name-sort Album
		tbody.items-list
			for album in albums
				tr
					td.text-left= album.album

block scripts
	script(src='/js/myAlbums.js')
